html,
body{
   
    height: 100%;
    background-color: #222d32 !important;
    font-family: "Roboto", sans-serif;
}
.row {
    padding: 50px;
}
.row h1{
    color: red;
    text-align: center;
}
.row p{
    color: crimson;
}
.member h3{
    text-align: center;
    color: darkturquoise;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.member span{
    color: green;
}
.member h2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(18, 214, 214);
    text-align: center;
}
.contact h1{
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.contact h3{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* footer css  */

.footer{
    position: absolute;
    margin-top: 2px;
    height: 36vh;
    color: white;
    width: 100%;
    background-image: radial-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    justify-content: space-between;
    text-align: center;
}
.logopart img{
    height: 10vh;
    margin-left: 10px;
    margin-top: 10px;
}
.copyright{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}
.copyright span:hover{
    text-decoration: underline;
    color: teal;
    font-family: 'Times New Roman', Times, serif;
}
.social{
    
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.social h4{
    color: darkgrey;
    font-family: 'Times New Roman', Times, serif;
}